<% @user.animals.each do |animal| %>
    <div class="wrapper">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <h2><%= animal.name %></h2>
                <div class="content">
                <h3><b>Bio:</b><%= animal.bio %></h3>
                </div>

                <div class="sidebar" id="bio">
                <ul>
                    <li><b>Name: </b><%= animal.name %></li>
                    <li><b>Species: </b><%= animal.species %></li>
                </ul>
                </div>
            </div>
        </div>

        <div class="container">
        <a href="/account/<%= @user.id %>" >RETURN TO ACCOUNT</a><br>
        <a href="/account/<%= @user.id %>/animals/<%= animal.id %>/delete">DELETE ANIMAL</a>
        </div>
    </div>
<% end %>