<% if logged_in?(session) %>
<% @user.animals.each do |animal| %>
    <div class="wrapper">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <h2><a href="/account/<%= @user.id %>/animals/<%= animal.id %>"><%= animal.name %></h2></a>
                <div class="content">
                <h3><b>Bio:</b></h3><br>
                <p><%= animal.bio %></p>
                </div>

                <div class="sidebar" id="bio">
                <ul>
                    <li><b>Name: </b><%= animal.name %></li></a>
                    <li><b>Species: </b><%= animal.species %></li>
                </ul>
                </div>
            </div>
        </div>

        <div class="container">
                <a href="/account/<%= @user.id %>/animals/<%= animal.id %>/delete">DELETE ANIMAL</a>
                <a href="/account/<%= @user.id %>/animals/<%= animal.id %>/edit">EDIT ANIMAL</a>
        </div>
    </div>
<% end %>
<a href="/account/<%= @user.id %>/animals/new">Create New Animal</a><br>
<a href="/account/<%= @user.id %>" >Return to Account</a>
<% else %>
<h1>You must be logged into to view your account.</h1>
<a href="/"><h2>Return home to login or create an account</h2></a>
<% end %>