<div class="container">
  <header><img src="../public/images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h2>

    <div class="content">
      <p>Write some bullshit here.</p>
    </div>
    
    <div class="sidebar">
      <!-- use sidebar to display first 3 animals in keeper's collection -->
    <% if @user.animals.exists? %>
        <h3><a href="/account/<%= @user.id %>/animals" target="_blank" >Animal Friends</a></h3>
            <% @animals = @user.animals %> 
        <ul>
            <% @animals.each do |animal| %>
            <li><b><%= animal.name %> -</b> <%= animal.species %></li>
            <% end %>
        </ul>
      <% end %>
        <a href="/account/<%= @user.id %>/animals/new">Create some animal friends!</a>
    </div>

  </div>
  <div id="account_links">
    <a href="/account/<%= @user.id %>/edit">Edit Account Info</a>
    <a href="/account/<%= @user.id %>/delete">Delete Account</a>
  </div>
</div>
